In [45]:
import numpy as np
import pandas as pd
import random
import sys
random.seed(0)
np.random.seed(0)

### spatial queue model
sys.path.insert(0, '..')
import model.queue_class_ce170 as sq_loop
import model.spatial_queue_array_add_storage_remain_special_node_reroute_rtt_change_queue_length as sq_vect

In [46]:
### Read network and demand
case='tamalpais'
nodes_df = pd.read_csv('traffic_inputs/{}/new_{}_nodes_tmp.csv'.format(case,case), float_precision = "round_trip")
links_df = pd.read_csv('traffic_inputs/{}/new_{}_links_tmp.csv'.format(case,case), float_precision = "round_trip")
od_df = pd.read_csv('traffic_inputs/{}/{}_ods_day_new_tmp.csv'.format(case,case), float_precision = "round_trip")
#links_df.loc[links_df['link_id'].isin([15290,31970,7444,35285,15229,26277,11937,7153,12176,7143,58,18977,9668,12414]), 'lanes'] = 1
#links_df.loc[links_df['link_id'].isin([10578,8169,17954,34851,33134,36158,26795,37330,4774,7423,34554,31563,33888,4865]), 'lanes'] = links_df.loc[links_df['link_id'].isin([10578,8169,17954,34851,33134,36158,26795,37330,4774,7423,34554]), 'lanes'].apply(lambda x: max(2,x))
#links_df.loc[links_df['link_id'].isin([14449, 21564, 30429, 9688, 22980, 1408, 7470, 12936, 15644,9699, 22125]), 'lanes'] = 1
#links_df.loc[links_df['link_id'].isin([453,15382, 31975, 10368, 4969, 13113, 9924, 30445, 22430, 4456, 23103, 189, 15153, 17738, 11631, 6037, 17671, 12217, 178, 223, 8627, 14269, 30469, 232, 3728, 16782]), 'lanes'] = 2 # Route 6
od_df['agent_id'] = np.arange(120000, 120000 + len(od_df))
od_df.loc[:, 'departure_hour'] = 6
od_df.loc[:, 'departure_quarter'] = 0
od_df['departure_time'] = (od_df['departure_hour'] - 6) * 3600 + od_df['departure_quarter'] * 900
od_df = od_df[od_df['origin_nid']!=od_df['destin_nid']]
nodes_df['node_id'] = nodes_df['node_id'].astype(int)
print('# nodes {}, # links {}, # ods {}'.format(nodes_df.shape[0], links_df.shape[0], od_df.shape[0]))

# nodes 17857, # links 40211, # ods 5846

In [47]:
simulation_vect = sq_vect.Simulation()
simulation_vect.initialize_simulation(nodes_df, links_df, od_df)

In [48]:
for t in [0]:
    simulation_vect.run_one_step(t, reroute_frequency=10)

In [49]:
agents_routes_dict = simulation_vect.agents.agent_routes

In [50]:
sum(simulation_vect.network.links['rtt'] - simulation_vect.network.links['fft'])

-1501.3762972832021

In [51]:
simulation_vect.network.links

,link_id,start_node_id,end_node_id,link_type,road_type,length,lanes,maxmph,fft,rtt,capacity,storage,geometry,storage_add_times,undeparted,queue,run,storage_remain
0,0,207,15434,real,vl_link,1000.00,1000000.0,10000000,0.000224,0.000224,500000.0,1.000000e+09,"LINESTRING (-13634479.059 4571408.963, -136343...",0,0.0,0.0,0.0,1.000000e+09
1,1,17848,15434,real,vl_link,1000.00,1000000.0,10000000,0.000224,0.000224,500000.0,1.000000e+09,"LINESTRING (-13634470.120 4571447.471, -136343...",0,0.0,0.0,0.0,1.000000e+09
2,2,16577,16576,real,tertiary,3.43,1.0,25,0.306973,0.303904,0.5,1.800000e+01,"LINESTRING (-13640430.177 4579490.118, -136404...",0,0.0,0.0,0.0,1.800000e+01
3,3,17356,15917,real,service,3.91,1.0,25,0.349932,0.349932,0.5,1.800000e+01,"LINESTRING (-13638443.325 4563844.610, -136384...",0,0.0,0.0,0.0,1.800000e+01
4,4,15917,17356,real,service,3.91,1.0,25,0.349932,0.349932,0.5,1.800000e+01,"LINESTRING (-13638424.667 4563856.030, -136384...",0,0.0,0.0,0.0,1.800000e+01
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17766,vl_17766,vn_17766,17766,virtual,virtual,1.00,100000000.0,1000,0.002237,0.002237,50000000.0,1.000000e+08,None,0,0.0,75.0,0.0,9.999962e+07
17767,vl_17767,vn_17767,17767,virtual,virtual,1.00,100000000.0,1000,0.002237,0.002237,50000000.0,1.000000e+08,None,0,0.0,45.0,0.0,9.999978e+07
17809,vl_17809,vn_17809,17809,virtual,virtual,1.00,100000000.0,1000,0.002237,0.002237,50000000.0,1.000000e+08,None,0,0.0,9.0,0.0,9.999996e+07
17830,vl_17830,vn_17830,17830,virtual,virtual,1.00,100000000.0,1000,0.002237,0.002237,50000000.0,1.000000e+08,None,0,0.0,10.0,0.0,9.999995e+07
17836,vl_17836,vn_17836,17836,virtual,virtual,1.00,100000000.0,1000,0.002237,0.002237,50000000.0,1.000000e+08,None,0,0.0,10.0,0.0,9.999995e+07

In [52]:
node_uv_link_dict = dict(zip(zip(links_df['start_node_id'], links_df['end_node_id']), links_df['link_id']))

In [53]:
#node_uv_link_dict.get((7758, 17311))

In [54]:
from tqdm import tqdm
agents_links_dict = {}
for agent_id in tqdm(agents_routes_dict):
    links_list = []
    routes = agents_routes_dict[agent_id]
    for node_u, node_v in routes.items():
        #link_id_tmp = links_df.loc[(links_df['start_node_id'] == node_u) & (links_df['end_node_id'] == node_v), 'link_id'].values[0]
        link_id_tmp = node_uv_link_dict.get((node_u, node_v))
        links_list.append(link_id_tmp)
    agents_links_dict[agent_id] = links_list

100%|██████████| 5846/5846 [00:00<00:00, 33258.24it/s]

In [55]:
len(agents_links_dict)

5846

In [56]:
#agents_links_dict[120145]

In [57]:
links_passed = list(agents_links_dict.values())
links_passed = sum(links_passed,[])

In [58]:
unique, counts = np.unique(links_passed, return_counts=True)
links_passed_count = dict(zip(unique, counts))

In [59]:
link_geometry_dict = dict(zip(links_df['link_id'], links_df['geometry']))
link_lanes_dict = dict(zip(links_df['link_id'], links_df['lanes']))

In [60]:
#link_lanes_dict.get(22430)

In [61]:
link_passed_df = pd.DataFrame()
link_passed_df['link_id'] = list(links_passed_count.keys())
link_passed_df['count'] = link_passed_df['link_id'].map(links_passed_count)
link_passed_df['lanes'] = link_passed_df['link_id'].map(link_lanes_dict)
link_passed_df['geometry'] = link_passed_df['link_id'].map(link_geometry_dict)

In [62]:
link_passed_df[link_passed_df['link_id'] == 22430]

Empty DataFrame
Columns: [link_id, count, lanes, geometry]
Index: []

In [63]:
link_passed_df[link_passed_df['count']!=1195]['count'].describe()

count     762.000000
mean      322.712598
std      1019.318277
min         2.000000
25%         6.000000
50%        16.500000
75%        99.750000
max      5846.000000
Name: count, dtype: float64

In [64]:
link_passed_df.head()

   link_id  count  lanes                                           geometry
0        8    923      1  LINESTRING(-122.53565976666668 37.896282766666...
1       45   2064      1  LINESTRING(-122.53006264999999 37.892831224999...
2       86   2088      2  LINESTRING(-122.5257551 37.8815096, -122.52544...
3      121   5243      2  LINESTRING(-122.5249256 37.8821267, -122.52486...
4      138   5804      2  LINESTRING(-122.5164638 37.8788044, -122.51639...

In [65]:
link_passed_df = link_passed_df[link_passed_df['lanes'] < 100]
link_passed_df.to_csv('./{}_evacuees_links_passed_count_new.csv'.format(case), index = False)

In [66]:
link_passed_df1 = link_passed_df[link_passed_df['count'] >= 1195]
link_passed_df1.to_csv('./{}_evacuees_links_frequently_passed_count_new.csv'.format(case), index = False)